
<div class="container">
 <div class="col-md-6 col-md-offset-3 border-login">
<h2>Project On Base</h2>
<p><i class="glyphicon glyphicon-lock"></i> Se connecter est une obligation !</p>
<p class="text-muted">Ce CRM est la propriété du collectif MediaCarré. Groupement de développeurs Web -> <a href="http://www.julien-carre.com">Julien Carré</a> & <a href="http://www.jeremy-carre.com">Jérémy Carré</a>.</P>
  <p>
 <div class="form-group">
  <center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Se_souvenir_de_moi %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Se connecter à PoB" %>
  </div>
<% end %>
  </div>
<% render "devise/shared/links" %>
<p class="text-info">Copyright J.Carré - 2016.</P>
</div>
</center>
</div>