<!DOCTYPE html>
<html>
<head>
  <title>Project On Base by Julien Carré</title>

<%= tinymce_assets %>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


  <!-- Latest compiled and minified CSS -->
<link data-no-turbolink="true" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link data-no-turbolink="true" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script data-no-turbolink="true" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

     <div id="wrapper">


            <% if user_signed_in? %>


        <!-- Navigation -->
        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Client On Base</a>
            </div>
            <!-- Top Menu Items -->

                       <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                     <%= link_to "Tableau de bord", root_path %>
                    </li>
                    <li>
                     <%= link_to "Les projets PoB", projet_index_path %>
                    </li>
                    <li>
                     <a href="http://desolate-gorge-1378.herokuapp.com/my_app/">Suivi campagnes</a>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa-arrows-v"></i> Les outils de gestion <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="http://desolate-gorge-1378.herokuapp.com/my_app/">Suivi campagnes</a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </li>
            
                </ul>
            </div>

                        <ul class="nav navbar-right top-nav">              
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.email %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                     <%= link_to  "Se déconnecter", destroy_user_session_path, method: :delete, form_class:"fa fa-fw fa-power-off" %><br/>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-collapse -->
        </nav>


            <% end %>



 
<div class="bg-primary notice"><%= notice %></div>
<div class="bg-primary notice"><%= alert %></div>

<%= yield %>

</body>
</html>
